/*Primary Green = #00a064*/
/*Very Dark Green = #005D37*/
/*Slightly Darker Green = #008E58*/
/*Lighter Green = #45BB85*/
/*Light Green = #97D6B6*/

/*Secondary Gray = #3C3C3C*/
/*Black = #1C1C1C*/
/*Lighter Gray = #DADADA*/
/*Lightest Gray = #F2F2F2*/

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.socialdiv {
    background-color: white;
    padding: 10px;
}

.social {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    color: #F2F2F2;
    padding: 25px;
    background-color: #3C3C3C;
    max-height: 300px;
}

.satchlinfo{
    background-color: #008E58;
    color: #DADADA;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 3px;
}

.satchlinfo h2 {
    text-align: center;
    color: #f2f2f2;
}

p {
    font-size: 1.25rem;
}

.flex-container.download {
    background-color: #00a064;
    color: #F2F2F2;
    padding-bottom: 20px;
}

.flex-column.persona {
    flex: .33;
}

.team {
    background-color: white;
    padding-top: 5px;
}

.flex-column.app {
    flex: 1;
}

.apps {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.vendorimg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pos {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    padding: 5px;
    border: 1px solid #00a064;
}

.flex-column.business {
    flex: 1;
}

.faqpage {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;;
}

.footerimg {
    width: 100px;
    float: right;
}

button {
    color: #F2F2F2;
    background-color: #00a064;
    width: 150px;
    height: 50px;
    font-size: 1.25rem;
    padding: inherit;
}

.button-div {
    margin-left: auto;
    margin-right: auto;
    position: inherit;
}

.footerlinks {
    list-style-type: none;
    color: #F2F2F2;
}

.bus {
    padding: 20px;
}

.vendorspage {
    padding-top: 10px;
    padding-bottom: 20px;
}

.navlogo {
    width: 150px;
}

body {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    height: 100%;
}

.flex-column.col-a {
    flex: 0.65;
}
  
.flex-column.col-b {
    flex: 0.35;
}

.flex-column.col-c {
    width: 125px;
}

.flex-column.col-d {
    width: 150px;
}

.flex-column.col-e {
    width: auto;
}

.flex-column {
    padding: 10px;
    margin: 10px;
}

nav a{
    font-size: 20px;
    font-weight: 450;
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    opacity: 70%;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
  }

nav li {
    float: left;
}

.login {
    float: right;
}
  
nav li a {
    display: block;
    color: #3C3C3C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover:not(.active) {
    opacity: 100%;
    color: #008E58;
}
  
.active {
    opacity: 100%;
    color: #00a064;
}